/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body {
  font-family: 'Roboto Slab', serif;
}

#testoAlternato {
  display: inline-block;
  border: solid 2px #000000;
  line-height: 1.5;
  position: relative;
}

p {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

i {
  color: #88aecc;
  position: absolute;
  opacity: 0;
  top: 80px;
  left: 85%;
  transform: translate(-50%);
  animation: animatedWords 12s infinite;
}

.word1 {
  animation-delay: 0s;
}

.word2 {
  animation-delay: 4s;
}

.word3 {
  animation-delay: 8s;
}


@keyframes animatedWords {

  0% {
    opacity: 0;
    transform: translate(-50%, 40px);

  }

  10% {
    opacity: 1;
    transform: translate(-50%, 0);
  }

  20% {
    opacity: 0;
    transform: translate(-50%, 40px);
    
  }

  100% {
    opacity: 0;
    transform: translate(-50%, 40px);
  }
  
}

